<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Test" preserve-order="true">
        <classes>
            <class name="com.alphasystem.wml.test.DefaultTemplateTest"/>
            <class name="com.alphasystem.wml.test.DefaultTemplateWithNumberedHeadingTest"/>
            <class name="com.alphasystem.wml.test.CustomTemplateTest"/>
            <class name="com.alphasystem.wml.test.CustomTemplateWithNumberedHeadingTest"/>
            <class name="com.alphasystem.wml.test.DefaultTemplateCustomStyles"/>
            <class name="com.alphasystem.wml.test.CustomTemplateCustomStylesTest"/>
            <class name="com.alphasystem.wml.test.LandscapeTest"/>
            <!--<class name="com.alphasystem.wml.test.NumberedParagraphTest"/>-->
        </classes>
    </test>
    <!-- Test -->
</suite> <!-- Suite -->
